<form action="/genres/upsert" role="form" method="post">
<input type="hidden" name="_csrf" value="{{_csrfToken}}">

  <h1>New Genre</h1>
  {{#if genre}}
  <div>
    <h2>Editing: {{genre.name}}</h2>
    <input type="hidden" name="id" value="{{genre.id}}">
  </div>
  {{/if}}
  <div>
    <label>Genre Name</label>
    <input type="text" id="name" name="name" {{#if genre}}value="{{genre.name}}"{{/if}}>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
